<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Focus Green</string>
				<key>PageTitle</key>
				<string>What is Drvr?</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2015-05-18T07:08:38Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>F84D73F0-E2B0-473F-974D-FBD296957C8E</string>
					<key>PageDigests</key>
					<dict>
						<key>files/stacks_image_152.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							giANrpDN6wYy4XhkRDim
							/A==
							</data>
							<key>Size</key>
							<integer>25986</integer>
						</dict>
						<key>files/stacks_image_154.png</key>
						<dict>
							<key>Digest</key>
							<data>
							NB7u7oQjU4/GAQ3lcdQ2
							1Q==
							</data>
							<key>Size</key>
							<integer>9958</integer>
						</dict>
						<key>files/stacks_image_156.png</key>
						<dict>
							<key>Digest</key>
							<data>
							Xe9dwQR/6A0FuzZwewOp
							8g==
							</data>
							<key>Size</key>
							<integer>9728</integer>
						</dict>
						<key>files/stacks_page_page0.css</key>
						<dict>
							<key>Digest</key>
							<data>
							F5a3KKIv3YDyRt+ULUDy
							0w==
							</data>
							<key>Size</key>
							<integer>408</integer>
						</dict>
						<key>files/stacks_page_page0.js</key>
						<dict>
							<key>Digest</key>
							<data>
							4nf49Kcs/AKiir2hdl+8
							Qg==
							</data>
							<key>Size</key>
							<integer>135</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							7uA3RGSblRo+z5Nu5KJB
							Vw==
							</data>
							<key>Size</key>
							<integer>14946</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page0</string>
					<key>SiteRoot</key>
					<string>page0</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
