<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page1</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Custom Style</string>
				<key>PageTitle</key>
				<string>Home</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2015-05-18T07:08:37Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>F84D73F0-E2B0-473F-974D-FBD296957C8E</string>
					<key>PageDigests</key>
					<dict>
						<key>files/stacks_image_165.png</key>
						<dict>
							<key>Digest</key>
							<data>
							uB6rYWDqSiu8XXyT9goj
							4A==
							</data>
							<key>Size</key>
							<integer>17074</integer>
						</dict>
						<key>files/stacks_page_page1.css</key>
						<dict>
							<key>Digest</key>
							<data>
							vcyMgr2zfux9aLEs3AIW
							Kg==
							</data>
							<key>Size</key>
							<integer>243</integer>
						</dict>
						<key>files/stacks_page_page1.js</key>
						<dict>
							<key>Digest</key>
							<data>
							4nf49Kcs/AKiir2hdl+8
							Qg==
							</data>
							<key>Size</key>
							<integer>135</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							OL2JKIFeqntKE/67BFni
							bw==
							</data>
							<key>Size</key>
							<integer>13934</integer>
						</dict>
						<key>rw_common/version.txt</key>
						<dict>
							<key>Digest</key>
							<data>
							jN4mL6iGGPCXR+EXNdC8
							CQ==
							</data>
							<key>Size</key>
							<integer>5</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page1</string>
					<key>SiteRoot</key>
					<string></string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
